.dashboard__container {
    display: flex;
    min-height: 100vh;
    min-height: 100svh;
}

.sidebar {
    position: relative;
    padding: 2rem 1rem;
    background: rgba(128, 128, 128, 0.1);
    width: 5rem;
    max-width: 14rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.sidebarOpen {
    width: 100%;
}

.sidebar__button {
    position: absolute;
    top: 0;
}

.sidebar__items {
    list-style-type: none;
}

.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: violet;
    overflow: hidden;
}

.sidebar__link i {
    position: absolute;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem !important;
    background: violet;
}

.sidebar__link span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    background: violet;
    height: 3rem;
    margin-left: 4rem;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.showText {
    pointer-events: initial;
    opacity: 1 !important;
}

.chatScreen {
    padding: 2rem 2rem;
    background: #fff;
}